#bg{
     min-width:1300px;
    width: 100%;
    height: auto;
    background: #EDF5FB;
    padding: 10px;
    box-sizing: border-box;  
}
#searchFormM1, #operateFormM1S11{
  width: 100%;
    min-width: 1300px;
    padding: 5px 5px;
    background: #E7EBEE;
    box-shadow: 1px 2px 5px -2px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

#operateFormM1S1{
    width: 100%;
    min-width: 1300px;
    height: 40px;
    padding: 5px 5px;
    background: #E7EBEE;
    box-shadow: 1px 2px 5px -2px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#dataGridS1{
        
}