<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code_fb_cg.mapper.TbCgclausedataMapper">
  <resultMap id="BaseResultMap" type="code_fb_cg.entity.TbCgclausedata">
    <id column="C_ID" jdbcType="VARCHAR" property="cId" />
    <result column="C_ITEMID" jdbcType="VARCHAR" property="cItemid" />
    <result column="C_ITEMDES" jdbcType="VARCHAR" property="cItemdes" />
    <result column="C_FAITEMID" jdbcType="VARCHAR" property="cFaitemid" />
    <result column="C_FAITEMDES" jdbcType="VARCHAR" property="cFaitemdes" />
    <result column="C_SUBITEMID" jdbcType="VARCHAR" property="cSubitemid" />
    <result column="C_SUBITEMDES" jdbcType="VARCHAR" property="cSubitemdes" />
    <result column="C_GROUP" jdbcType="VARCHAR" property="cGroup" />
    <result column="C_ORDER" jdbcType="DECIMAL" property="cOrder" />
    <result column="C_ENABLED" jdbcType="VARCHAR" property="cEnabled" />
    <result column="C_VALUE" jdbcType="VARCHAR" property="cValue" />
    <result column="C_DR" jdbcType="VARCHAR" property="cDr" />
    <result column="C_TIMESTAMP" jdbcType="TIMESTAMP" property="cTimestamp" />
    <result column="C_CREATER" jdbcType="VARCHAR" property="cCreater" />
    <result column="C_CREATETIME" jdbcType="DATE" property="cCreatetime" />
    <result column="C_MODIFIER" jdbcType="VARCHAR" property="cModifier" />
    <result column="C_MODIFYDATE" jdbcType="DATE" property="cModifydate" />
    <result column="C_SW01" jdbcType="VARCHAR" property="cSw01" />
    <result column="C_SW02" jdbcType="VARCHAR" property="cSw02" />
    <result column="C_SW03" jdbcType="VARCHAR" property="cSw03" />
    <result column="C_SW04" jdbcType="VARCHAR" property="cSw04" />
    <result column="C_SW05" jdbcType="VARCHAR" property="cSw05" />
    <result column="C_SW06" jdbcType="VARCHAR" property="cSw06" />
    <result column="C_SW07" jdbcType="VARCHAR" property="cSw07" />
    <result column="C_SW08" jdbcType="VARCHAR" property="cSw08" />
    <result column="C_SW09" jdbcType="VARCHAR" property="cSw09" />
    <result column="C_SW10" jdbcType="VARCHAR" property="cSw10" />
    <result column="C_SW11" jdbcType="VARCHAR" property="cSw11" />
    <result column="C_SW12" jdbcType="VARCHAR" property="cSw12" />
    <result column="C_SW13" jdbcType="VARCHAR" property="cSw13" />
    <result column="C_SW14" jdbcType="VARCHAR" property="cSw14" />
    <result column="C_SW15" jdbcType="VARCHAR" property="cSw15" />
    <result column="C_SW16" jdbcType="VARCHAR" property="cSw16" />
    <result column="C_SW17" jdbcType="VARCHAR" property="cSw17" />
    <result column="C_SW18" jdbcType="VARCHAR" property="cSw18" />
    <result column="C_SW19" jdbcType="VARCHAR" property="cSw19" />
    <result column="C_SW20" jdbcType="VARCHAR" property="cSw20" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    C_ID, C_ITEMID, C_ITEMDES, C_FAITEMID, C_FAITEMDES, C_SUBITEMID, C_SUBITEMDES, C_GROUP, 
    C_ORDER, C_ENABLED, C_VALUE, C_DR, C_TIMESTAMP, C_CREATER, C_CREATETIME, C_MODIFIER, 
    C_MODIFYDATE, C_SW01, C_SW02, C_SW03, C_SW04, C_SW05, C_SW06, C_SW07, C_SW08, C_SW09, 
    C_SW10, C_SW11, C_SW12, C_SW13, C_SW14, C_SW15, C_SW16, C_SW17, C_SW18, C_SW19, C_SW20
  </sql>
  <select id="selectByExample" parameterType="code_fb_cg.entity.TbCgclausedataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TB_CGCLAUSEDATE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_CGCLAUSEDATE
    where C_ID = #{cId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_CGCLAUSEDATE
    where C_ID = #{cId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="code_fb_cg.entity.TbCgclausedataExample">
    delete from TB_CGCLAUSEDATE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="code_fb_cg.entity.TbCgclausedata">
    insert into TB_CGCLAUSEDATE (C_ID, C_ITEMID, C_ITEMDES, 
      C_FAITEMID, C_FAITEMDES, C_SUBITEMID, 
      C_SUBITEMDES, C_GROUP, C_ORDER, 
      C_ENABLED, C_VALUE, C_DR, 
      C_TIMESTAMP, C_CREATER, C_CREATETIME, 
      C_MODIFIER, C_MODIFYDATE, C_SW01, 
      C_SW02, C_SW03, C_SW04, 
      C_SW05, C_SW06, C_SW07, 
      C_SW08, C_SW09, C_SW10, 
      C_SW11, C_SW12, C_SW13, 
      C_SW14, C_SW15, C_SW16, 
      C_SW17, C_SW18, C_SW19, 
      C_SW20)
    values (#{cId,jdbcType=VARCHAR}, #{cItemid,jdbcType=VARCHAR}, #{cItemdes,jdbcType=VARCHAR}, 
      #{cFaitemid,jdbcType=VARCHAR}, #{cFaitemdes,jdbcType=VARCHAR}, #{cSubitemid,jdbcType=VARCHAR}, 
      #{cSubitemdes,jdbcType=VARCHAR}, #{cGroup,jdbcType=VARCHAR}, #{cOrder,jdbcType=DECIMAL}, 
      #{cEnabled,jdbcType=VARCHAR}, #{cValue,jdbcType=VARCHAR}, #{cDr,jdbcType=VARCHAR}, 
      #{cTimestamp,jdbcType=TIMESTAMP}, #{cCreater,jdbcType=VARCHAR}, #{cCreatetime,jdbcType=DATE}, 
      #{cModifier,jdbcType=VARCHAR}, #{cModifydate,jdbcType=DATE}, #{cSw01,jdbcType=VARCHAR}, 
      #{cSw02,jdbcType=VARCHAR}, #{cSw03,jdbcType=VARCHAR}, #{cSw04,jdbcType=VARCHAR}, 
      #{cSw05,jdbcType=VARCHAR}, #{cSw06,jdbcType=VARCHAR}, #{cSw07,jdbcType=VARCHAR}, 
      #{cSw08,jdbcType=VARCHAR}, #{cSw09,jdbcType=VARCHAR}, #{cSw10,jdbcType=VARCHAR}, 
      #{cSw11,jdbcType=VARCHAR}, #{cSw12,jdbcType=VARCHAR}, #{cSw13,jdbcType=VARCHAR}, 
      #{cSw14,jdbcType=VARCHAR}, #{cSw15,jdbcType=VARCHAR}, #{cSw16,jdbcType=VARCHAR}, 
      #{cSw17,jdbcType=VARCHAR}, #{cSw18,jdbcType=VARCHAR}, #{cSw19,jdbcType=VARCHAR}, 
      #{cSw20,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="code_fb_cg.entity.TbCgclausedata">
    insert into TB_CGCLAUSEDATE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        C_ID,
      </if>
      <if test="cItemid != null">
        C_ITEMID,
      </if>
      <if test="cItemdes != null">
        C_ITEMDES,
      </if>
      <if test="cFaitemid != null">
        C_FAITEMID,
      </if>
      <if test="cFaitemdes != null">
        C_FAITEMDES,
      </if>
      <if test="cSubitemid != null">
        C_SUBITEMID,
      </if>
      <if test="cSubitemdes != null">
        C_SUBITEMDES,
      </if>
      <if test="cGroup != null">
        C_GROUP,
      </if>
      <if test="cOrder != null">
        C_ORDER,
      </if>
      <if test="cEnabled != null">
        C_ENABLED,
      </if>
      <if test="cValue != null">
        C_VALUE,
      </if>
      <if test="cDr != null">
        C_DR,
      </if>
      <if test="cTimestamp != null">
        C_TIMESTAMP,
      </if>
      <if test="cCreater != null">
        C_CREATER,
      </if>
      <if test="cCreatetime != null">
        C_CREATETIME,
      </if>
      <if test="cModifier != null">
        C_MODIFIER,
      </if>
      <if test="cModifydate != null">
        C_MODIFYDATE,
      </if>
      <if test="cSw01 != null">
        C_SW01,
      </if>
      <if test="cSw02 != null">
        C_SW02,
      </if>
      <if test="cSw03 != null">
        C_SW03,
      </if>
      <if test="cSw04 != null">
        C_SW04,
      </if>
      <if test="cSw05 != null">
        C_SW05,
      </if>
      <if test="cSw06 != null">
        C_SW06,
      </if>
      <if test="cSw07 != null">
        C_SW07,
      </if>
      <if test="cSw08 != null">
        C_SW08,
      </if>
      <if test="cSw09 != null">
        C_SW09,
      </if>
      <if test="cSw10 != null">
        C_SW10,
      </if>
      <if test="cSw11 != null">
        C_SW11,
      </if>
      <if test="cSw12 != null">
        C_SW12,
      </if>
      <if test="cSw13 != null">
        C_SW13,
      </if>
      <if test="cSw14 != null">
        C_SW14,
      </if>
      <if test="cSw15 != null">
        C_SW15,
      </if>
      <if test="cSw16 != null">
        C_SW16,
      </if>
      <if test="cSw17 != null">
        C_SW17,
      </if>
      <if test="cSw18 != null">
        C_SW18,
      </if>
      <if test="cSw19 != null">
        C_SW19,
      </if>
      <if test="cSw20 != null">
        C_SW20,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cItemid != null">
        #{cItemid,jdbcType=VARCHAR},
      </if>
      <if test="cItemdes != null">
        #{cItemdes,jdbcType=VARCHAR},
      </if>
      <if test="cFaitemid != null">
        #{cFaitemid,jdbcType=VARCHAR},
      </if>
      <if test="cFaitemdes != null">
        #{cFaitemdes,jdbcType=VARCHAR},
      </if>
      <if test="cSubitemid != null">
        #{cSubitemid,jdbcType=VARCHAR},
      </if>
      <if test="cSubitemdes != null">
        #{cSubitemdes,jdbcType=VARCHAR},
      </if>
      <if test="cGroup != null">
        #{cGroup,jdbcType=VARCHAR},
      </if>
      <if test="cOrder != null">
        #{cOrder,jdbcType=DECIMAL},
      </if>
      <if test="cEnabled != null">
        #{cEnabled,jdbcType=VARCHAR},
      </if>
      <if test="cValue != null">
        #{cValue,jdbcType=VARCHAR},
      </if>
      <if test="cDr != null">
        #{cDr,jdbcType=VARCHAR},
      </if>
      <if test="cTimestamp != null">
        #{cTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="cCreater != null">
        #{cCreater,jdbcType=VARCHAR},
      </if>
      <if test="cCreatetime != null">
        #{cCreatetime,jdbcType=DATE},
      </if>
      <if test="cModifier != null">
        #{cModifier,jdbcType=VARCHAR},
      </if>
      <if test="cModifydate != null">
        #{cModifydate,jdbcType=DATE},
      </if>
      <if test="cSw01 != null">
        #{cSw01,jdbcType=VARCHAR},
      </if>
      <if test="cSw02 != null">
        #{cSw02,jdbcType=VARCHAR},
      </if>
      <if test="cSw03 != null">
        #{cSw03,jdbcType=VARCHAR},
      </if>
      <if test="cSw04 != null">
        #{cSw04,jdbcType=VARCHAR},
      </if>
      <if test="cSw05 != null">
        #{cSw05,jdbcType=VARCHAR},
      </if>
      <if test="cSw06 != null">
        #{cSw06,jdbcType=VARCHAR},
      </if>
      <if test="cSw07 != null">
        #{cSw07,jdbcType=VARCHAR},
      </if>
      <if test="cSw08 != null">
        #{cSw08,jdbcType=VARCHAR},
      </if>
      <if test="cSw09 != null">
        #{cSw09,jdbcType=VARCHAR},
      </if>
      <if test="cSw10 != null">
        #{cSw10,jdbcType=VARCHAR},
      </if>
      <if test="cSw11 != null">
        #{cSw11,jdbcType=VARCHAR},
      </if>
      <if test="cSw12 != null">
        #{cSw12,jdbcType=VARCHAR},
      </if>
      <if test="cSw13 != null">
        #{cSw13,jdbcType=VARCHAR},
      </if>
      <if test="cSw14 != null">
        #{cSw14,jdbcType=VARCHAR},
      </if>
      <if test="cSw15 != null">
        #{cSw15,jdbcType=VARCHAR},
      </if>
      <if test="cSw16 != null">
        #{cSw16,jdbcType=VARCHAR},
      </if>
      <if test="cSw17 != null">
        #{cSw17,jdbcType=VARCHAR},
      </if>
      <if test="cSw18 != null">
        #{cSw18,jdbcType=VARCHAR},
      </if>
      <if test="cSw19 != null">
        #{cSw19,jdbcType=VARCHAR},
      </if>
      <if test="cSw20 != null">
        #{cSw20,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="code_fb_cg.entity.TbCgclausedataExample" resultType="java.lang.Integer">
    select count(*) from TB_CGCLAUSEDATE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update TB_CGCLAUSEDATE
    <set>
      <if test="record.cId != null">
        C_ID = #{record.cId,jdbcType=VARCHAR},
      </if>
      <if test="record.cItemid != null">
        C_ITEMID = #{record.cItemid,jdbcType=VARCHAR},
      </if>
      <if test="record.cItemdes != null">
        C_ITEMDES = #{record.cItemdes,jdbcType=VARCHAR},
      </if>
      <if test="record.cFaitemid != null">
        C_FAITEMID = #{record.cFaitemid,jdbcType=VARCHAR},
      </if>
      <if test="record.cFaitemdes != null">
        C_FAITEMDES = #{record.cFaitemdes,jdbcType=VARCHAR},
      </if>
      <if test="record.cSubitemid != null">
        C_SUBITEMID = #{record.cSubitemid,jdbcType=VARCHAR},
      </if>
      <if test="record.cSubitemdes != null">
        C_SUBITEMDES = #{record.cSubitemdes,jdbcType=VARCHAR},
      </if>
      <if test="record.cGroup != null">
        C_GROUP = #{record.cGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.cOrder != null">
        C_ORDER = #{record.cOrder,jdbcType=DECIMAL},
      </if>
      <if test="record.cEnabled != null">
        C_ENABLED = #{record.cEnabled,jdbcType=VARCHAR},
      </if>
      <if test="record.cValue != null">
        C_VALUE = #{record.cValue,jdbcType=VARCHAR},
      </if>
      <if test="record.cDr != null">
        C_DR = #{record.cDr,jdbcType=VARCHAR},
      </if>
      <if test="record.cTimestamp != null">
        C_TIMESTAMP = #{record.cTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cCreater != null">
        C_CREATER = #{record.cCreater,jdbcType=VARCHAR},
      </if>
      <if test="record.cCreatetime != null">
        C_CREATETIME = #{record.cCreatetime,jdbcType=DATE},
      </if>
      <if test="record.cModifier != null">
        C_MODIFIER = #{record.cModifier,jdbcType=VARCHAR},
      </if>
      <if test="record.cModifydate != null">
        C_MODIFYDATE = #{record.cModifydate,jdbcType=DATE},
      </if>
      <if test="record.cSw01 != null">
        C_SW01 = #{record.cSw01,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw02 != null">
        C_SW02 = #{record.cSw02,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw03 != null">
        C_SW03 = #{record.cSw03,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw04 != null">
        C_SW04 = #{record.cSw04,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw05 != null">
        C_SW05 = #{record.cSw05,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw06 != null">
        C_SW06 = #{record.cSw06,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw07 != null">
        C_SW07 = #{record.cSw07,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw08 != null">
        C_SW08 = #{record.cSw08,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw09 != null">
        C_SW09 = #{record.cSw09,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw10 != null">
        C_SW10 = #{record.cSw10,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw11 != null">
        C_SW11 = #{record.cSw11,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw12 != null">
        C_SW12 = #{record.cSw12,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw13 != null">
        C_SW13 = #{record.cSw13,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw14 != null">
        C_SW14 = #{record.cSw14,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw15 != null">
        C_SW15 = #{record.cSw15,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw16 != null">
        C_SW16 = #{record.cSw16,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw17 != null">
        C_SW17 = #{record.cSw17,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw18 != null">
        C_SW18 = #{record.cSw18,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw19 != null">
        C_SW19 = #{record.cSw19,jdbcType=VARCHAR},
      </if>
      <if test="record.cSw20 != null">
        C_SW20 = #{record.cSw20,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update TB_CGCLAUSEDATE
    set C_ID = #{record.cId,jdbcType=VARCHAR},
      C_ITEMID = #{record.cItemid,jdbcType=VARCHAR},
      C_ITEMDES = #{record.cItemdes,jdbcType=VARCHAR},
      C_FAITEMID = #{record.cFaitemid,jdbcType=VARCHAR},
      C_FAITEMDES = #{record.cFaitemdes,jdbcType=VARCHAR},
      C_SUBITEMID = #{record.cSubitemid,jdbcType=VARCHAR},
      C_SUBITEMDES = #{record.cSubitemdes,jdbcType=VARCHAR},
      C_GROUP = #{record.cGroup,jdbcType=VARCHAR},
      C_ORDER = #{record.cOrder,jdbcType=DECIMAL},
      C_ENABLED = #{record.cEnabled,jdbcType=VARCHAR},
      C_VALUE = #{record.cValue,jdbcType=VARCHAR},
      C_DR = #{record.cDr,jdbcType=VARCHAR},
      C_TIMESTAMP = #{record.cTimestamp,jdbcType=TIMESTAMP},
      C_CREATER = #{record.cCreater,jdbcType=VARCHAR},
      C_CREATETIME = #{record.cCreatetime,jdbcType=DATE},
      C_MODIFIER = #{record.cModifier,jdbcType=VARCHAR},
      C_MODIFYDATE = #{record.cModifydate,jdbcType=DATE},
      C_SW01 = #{record.cSw01,jdbcType=VARCHAR},
      C_SW02 = #{record.cSw02,jdbcType=VARCHAR},
      C_SW03 = #{record.cSw03,jdbcType=VARCHAR},
      C_SW04 = #{record.cSw04,jdbcType=VARCHAR},
      C_SW05 = #{record.cSw05,jdbcType=VARCHAR},
      C_SW06 = #{record.cSw06,jdbcType=VARCHAR},
      C_SW07 = #{record.cSw07,jdbcType=VARCHAR},
      C_SW08 = #{record.cSw08,jdbcType=VARCHAR},
      C_SW09 = #{record.cSw09,jdbcType=VARCHAR},
      C_SW10 = #{record.cSw10,jdbcType=VARCHAR},
      C_SW11 = #{record.cSw11,jdbcType=VARCHAR},
      C_SW12 = #{record.cSw12,jdbcType=VARCHAR},
      C_SW13 = #{record.cSw13,jdbcType=VARCHAR},
      C_SW14 = #{record.cSw14,jdbcType=VARCHAR},
      C_SW15 = #{record.cSw15,jdbcType=VARCHAR},
      C_SW16 = #{record.cSw16,jdbcType=VARCHAR},
      C_SW17 = #{record.cSw17,jdbcType=VARCHAR},
      C_SW18 = #{record.cSw18,jdbcType=VARCHAR},
      C_SW19 = #{record.cSw19,jdbcType=VARCHAR},
      C_SW20 = #{record.cSw20,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="code_fb_cg.entity.TbCgclausedata">
    update TB_CGCLAUSEDATE
    <set>
      <if test="cItemid != null">
        C_ITEMID = #{cItemid,jdbcType=VARCHAR},
      </if>
      <if test="cItemdes != null">
        C_ITEMDES = #{cItemdes,jdbcType=VARCHAR},
      </if>
      <if test="cFaitemid != null">
        C_FAITEMID = #{cFaitemid,jdbcType=VARCHAR},
      </if>
      <if test="cFaitemdes != null">
        C_FAITEMDES = #{cFaitemdes,jdbcType=VARCHAR},
      </if>
      <if test="cSubitemid != null">
        C_SUBITEMID = #{cSubitemid,jdbcType=VARCHAR},
      </if>
      <if test="cSubitemdes != null">
        C_SUBITEMDES = #{cSubitemdes,jdbcType=VARCHAR},
      </if>
      <if test="cGroup != null">
        C_GROUP = #{cGroup,jdbcType=VARCHAR},
      </if>
      <if test="cOrder != null">
        C_ORDER = #{cOrder,jdbcType=DECIMAL},
      </if>
      <if test="cEnabled != null">
        C_ENABLED = #{cEnabled,jdbcType=VARCHAR},
      </if>
      <if test="cValue != null">
        C_VALUE = #{cValue,jdbcType=VARCHAR},
      </if>
      <if test="cDr != null">
        C_DR = #{cDr,jdbcType=VARCHAR},
      </if>
      <if test="cTimestamp != null">
        C_TIMESTAMP = #{cTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="cCreater != null">
        C_CREATER = #{cCreater,jdbcType=VARCHAR},
      </if>
      <if test="cCreatetime != null">
        C_CREATETIME = #{cCreatetime,jdbcType=DATE},
      </if>
      <if test="cModifier != null">
        C_MODIFIER = #{cModifier,jdbcType=VARCHAR},
      </if>
      <if test="cModifydate != null">
        C_MODIFYDATE = #{cModifydate,jdbcType=DATE},
      </if>
      <if test="cSw01 != null">
        C_SW01 = #{cSw01,jdbcType=VARCHAR},
      </if>
      <if test="cSw02 != null">
        C_SW02 = #{cSw02,jdbcType=VARCHAR},
      </if>
      <if test="cSw03 != null">
        C_SW03 = #{cSw03,jdbcType=VARCHAR},
      </if>
      <if test="cSw04 != null">
        C_SW04 = #{cSw04,jdbcType=VARCHAR},
      </if>
      <if test="cSw05 != null">
        C_SW05 = #{cSw05,jdbcType=VARCHAR},
      </if>
      <if test="cSw06 != null">
        C_SW06 = #{cSw06,jdbcType=VARCHAR},
      </if>
      <if test="cSw07 != null">
        C_SW07 = #{cSw07,jdbcType=VARCHAR},
      </if>
      <if test="cSw08 != null">
        C_SW08 = #{cSw08,jdbcType=VARCHAR},
      </if>
      <if test="cSw09 != null">
        C_SW09 = #{cSw09,jdbcType=VARCHAR},
      </if>
      <if test="cSw10 != null">
        C_SW10 = #{cSw10,jdbcType=VARCHAR},
      </if>
      <if test="cSw11 != null">
        C_SW11 = #{cSw11,jdbcType=VARCHAR},
      </if>
      <if test="cSw12 != null">
        C_SW12 = #{cSw12,jdbcType=VARCHAR},
      </if>
      <if test="cSw13 != null">
        C_SW13 = #{cSw13,jdbcType=VARCHAR},
      </if>
      <if test="cSw14 != null">
        C_SW14 = #{cSw14,jdbcType=VARCHAR},
      </if>
      <if test="cSw15 != null">
        C_SW15 = #{cSw15,jdbcType=VARCHAR},
      </if>
      <if test="cSw16 != null">
        C_SW16 = #{cSw16,jdbcType=VARCHAR},
      </if>
      <if test="cSw17 != null">
        C_SW17 = #{cSw17,jdbcType=VARCHAR},
      </if>
      <if test="cSw18 != null">
        C_SW18 = #{cSw18,jdbcType=VARCHAR},
      </if>
      <if test="cSw19 != null">
        C_SW19 = #{cSw19,jdbcType=VARCHAR},
      </if>
      <if test="cSw20 != null">
        C_SW20 = #{cSw20,jdbcType=VARCHAR},
      </if>
    </set>
    where C_ID = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="code_fb_cg.entity.TbCgclausedata">
    update TB_CGCLAUSEDATE
    set C_ITEMID = #{cItemid,jdbcType=VARCHAR},
      C_ITEMDES = #{cItemdes,jdbcType=VARCHAR},
      C_FAITEMID = #{cFaitemid,jdbcType=VARCHAR},
      C_FAITEMDES = #{cFaitemdes,jdbcType=VARCHAR},
      C_SUBITEMID = #{cSubitemid,jdbcType=VARCHAR},
      C_SUBITEMDES = #{cSubitemdes,jdbcType=VARCHAR},
      C_GROUP = #{cGroup,jdbcType=VARCHAR},
      C_ORDER = #{cOrder,jdbcType=DECIMAL},
      C_ENABLED = #{cEnabled,jdbcType=VARCHAR},
      C_VALUE = #{cValue,jdbcType=VARCHAR},
      C_DR = #{cDr,jdbcType=VARCHAR},
      C_TIMESTAMP = #{cTimestamp,jdbcType=TIMESTAMP},
      C_CREATER = #{cCreater,jdbcType=VARCHAR},
      C_CREATETIME = #{cCreatetime,jdbcType=DATE},
      C_MODIFIER = #{cModifier,jdbcType=VARCHAR},
      C_MODIFYDATE = #{cModifydate,jdbcType=DATE},
      C_SW01 = #{cSw01,jdbcType=VARCHAR},
      C_SW02 = #{cSw02,jdbcType=VARCHAR},
      C_SW03 = #{cSw03,jdbcType=VARCHAR},
      C_SW04 = #{cSw04,jdbcType=VARCHAR},
      C_SW05 = #{cSw05,jdbcType=VARCHAR},
      C_SW06 = #{cSw06,jdbcType=VARCHAR},
      C_SW07 = #{cSw07,jdbcType=VARCHAR},
      C_SW08 = #{cSw08,jdbcType=VARCHAR},
      C_SW09 = #{cSw09,jdbcType=VARCHAR},
      C_SW10 = #{cSw10,jdbcType=VARCHAR},
      C_SW11 = #{cSw11,jdbcType=VARCHAR},
      C_SW12 = #{cSw12,jdbcType=VARCHAR},
      C_SW13 = #{cSw13,jdbcType=VARCHAR},
      C_SW14 = #{cSw14,jdbcType=VARCHAR},
      C_SW15 = #{cSw15,jdbcType=VARCHAR},
      C_SW16 = #{cSw16,jdbcType=VARCHAR},
      C_SW17 = #{cSw17,jdbcType=VARCHAR},
      C_SW18 = #{cSw18,jdbcType=VARCHAR},
      C_SW19 = #{cSw19,jdbcType=VARCHAR},
      C_SW20 = #{cSw20,jdbcType=VARCHAR}
    where C_ID = #{cId,jdbcType=VARCHAR}
  </update>
</mapper>